/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 196px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 196px; /* Set the fixed height of the footer here */
}
/* -------------------------------------------------- */

body {
	//background-color: lighten($grayGreen2, 10) !important;
	background-color: $grayGreen2 !important;
}

p:empty {
	display: none;
}

p {
	//color: rgba(0, 0, 0, 0.8)
	color: $whiteTrans;
}

strong {
	color: $accent;
}
