

body {
	//background-color: lighten($grayGreen2, 10) !important;
	background-color: $grayGreen2 !important;
}

p:empty {
	display: none;
}

p {
	//color: rgba(0, 0, 0, 0.8)
	color: $whiteTrans;
}

strong {
	color: $accent;
}


/* STICKY FOOTER TEMP */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}