
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

@import url('https://fonts.googleapis.com/css?family=Aclonica');

/*
	font-family: 'Oswald', sans-serif;

    font-family: 'Niramit', sans-serif;

    font-family: 'Slabo 27px', serif;

    font-family: 'Roboto Slab', serif;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'PT Serif', serif;

    font-family: 'Exo 2', sans-serif;

    font-family: 'Righteous', cursive;

    font-family: 'Raleway', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Lato', sans-serif;

*/

body {
    line-height: 1; /* TEMP OVERRIDE BOOTSTRPA, USE FOR TS */
}

a {
    color: $whiteTrans;

    &:hover {
        color: $accent;
    };
}

p {
	font-family: 'Niramit', sans-serif;
}

 