// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$white: #fff; /* temp */
$black: #000; /* temp */

$darkBlue: #20549E;
$skyBlue: #1366B6;
$skyBlueLighter: #4699D2;

/* from Peak 1 */
$darkMaroon: #280604;
$grayGreen: #64777A; /* interesting color, be sure and use! */
$grayGreen2: #68888F; /* same as above */
$pinkishBand: #AE9A91;
$plum: #3B435C;
$fadedPlum: #4F576D;
$sandLight: #DFD0C6;

/* form Peak 2 */
$brickBright: #883112;
$brickDark: #2F0301;
$someClr: #fff;

/* use as accents */
$flowersInFront: #FBCF29;

$accent: $flowersInFront;