// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$darkBlue: #20549E;
$skyBlue: #1366B6;
$skyBlueLighter: #4699D2;

/* from Peak 1 */
$darkMaroon: #280604;
$greyGreen: #64777A; /* interesting color, be sure and use! */
$paleLightGreen: #68888F; /* same as above */
$pinkishBand: #AE9A91;
$plum: #3B435C;
$fadedPlum: #4F576D;
$sandLight: #DFD0C6;

/* form Peak 2 */
$brickBright: #883112;
$brickDark: #2F0301;

/* use as accents */
$flowersInFront: #FBCF29;