.swiper-wrapper .swiper-slide.swiper-slide-active img{
	border: 1px solid $whiteTrans;
}

.swiper-slide {
	background-color: $grayGreen2; 
}

.gallery-thumbs > .swiper-wrapper > .swiper-slide {
	cursor: pointer;
	border: 1px solid $whiteTrans;
}