.footer {
	background-color: $plumFaded;
	border-top: 1px solid $plum;
	border-bottom: 1px solid $plum;
	display: flex;
	flex-flow: column;
	overflow: hidden;
	padding: 0;
}

h3.biography {
  text-align: center;
  color: $pinkishBand;
  margin-top: 1em;
}

	.footer__contact-wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.footer__contact-list {
		display: flex;
		flex-flow: column;
		align-items: center;
		list-style-type: none;
		margin: 0;
		padding: 1.5rem 0;
		width: 85%;
	}

	.footer__contact-list li:first-of-type {
		margin-bottom: .5rem;
	}

		.footer__link {
			color: $white;
			font-size: 2.5rem;
			text-decoration: none;
			transition: all .5s ease-out;
		}

		.footer__link:hover {
			color: $accent;
			text-decoration: none !important;
			.footer__icon path {
				transition: all 0.25s ease-out;
				fill: $accent !important;
			}
		}

		.footer__icon-email {
			height: 90px;
		}

		.footer__icon-phone {
			height: 70px;
		}

		.footer__icon {
			margin-right: 10px;
		}

		.footer__icon path {
			fill: $white;
		}

.footer__sub-footer {
	background-color: #ccc;
	color: $plumDark;
	height: 50px;
	width: 100%;
}

	.footer__copyright-name {
		font-size: .75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

		.footer__name {
			margin-left: 4px;
		}

@media (min-width:992px) {
	.footer__contact-list {
		flex-flow: row;
		justify-content: space-around;
	}
}
