.footer {
	background-color: $plumFaded;
	border-top: 1px solid $plum;
	border-bottom: 1px solid $plum;
	display: flex;

	flex-flow: column;
	overflow: hidden;
	padding: 0;
}

h3.biography {
  text-align: center;
  color: $white;
  margin:2em auto;

}

	.footer__contact-wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.footer__contact-list {
		display: inline-block;
		//flex-flow: column;
		//align-items: center;
		align-items: left;
		list-style-type: none;
		margin: 0;
		padding: 1.5rem 0;
		//width: 85%;
	}

	.footer__contact-list li:first-of-type {
		margin-bottom: .5rem;
	}

		.footer__link {
			color: $white;
			//font-size: 2.5rem;
			font-size: 1.2rem;
			text-decoration: none;
			transition: all .5s ease-out;
		}

		.footer__link:hover {
			color: $accent;
			text-decoration: none !important;
			.footer__icon path {
				transition: all 0.25s ease-out;
				fill: $accent !important;
			}
		}

		.footer__icon-email {
			height: 50px;
		}

		.footer__icon-phone {
			height: 40px;
		}

		.footer__icon {
			margin-right: 10px;
		}

		.footer__icon path {
			fill: $white;
		}

.footer__sub-footer {
	background-color: #ccc;
	color: $plumDark;
	height: 50px;
	width: 100%;
}

	.footer__copyright-name {
		font-size: .75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

		.footer__name {
			margin-left: 4px;
		}

@media (min-width: 576px) {
	.footer__link {
		font-size: 2rem;
	}

	.footer__icon-email {
		height: 70px;
	}

	.footer__icon-phone {
		height: 60px;
	}
}

@media (min-width: 768px) {
	.footer__link {
		font-size: 2.5rem;
	}

	.footer__icon-email {
		height: 90px;
	}

	.footer__icon-phone {
		height: 80px;
	}
}


@media (min-width: 992px) {
	.footer__contact-list {
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		width: 85%;
	}

	.footer__contact-list li {
		display: flex;
		align-items: center;
	}
	
	.footer__link {
		font-size: 2rem;
	}

	.footer__icon-email {
		height: 90px;
	}

	.footer__icon-phone {
		height: 65px;
	}
}
@media (min-width: 1200px) {
	.footer__link {
		font-size: 2rem;
	}

	.footer__icon-email {
		height: 90px;
	}

	.footer__icon-phone {
		height: 70px;
	}
}