,body.home .page-header {
	display: none;		
}

.hero-wrapper {
	width: 100%;
	height: 340px !important;
	overflow: hidden;
}	

.hero__main-img {
	width: 100%;
	height: auto !important;
}

.hp-gallery-thumbs__wrapper {

}

.hp-gallery-thumb {
	flex-basis: 20%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #fff;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: all 1s ease-out;
	z-index: 1;
}


.hp-gallery-thumb::before {
	content: '';
  	display: block;
	padding-top: 100%;
}

.hp-gallery-thumb__content{
	background-color: rgba(0, 0, 0, .15);
	display: flex;
  	align-items: center;
	justify-content: center;
	position: absolute;
  	top: 0; left: 0;
  	height: 100%;
  	width: 100%;
  	transition: background-color 0.5s ease-out;
  	text-align: center;
  	z-index: 2;
}

.hp-gallery-thumb:hover {
	background-size: 125%;

	.project-name {
		color: $accent;
		transform: scale(1.2); 
		letter-spacing: 2px;
	}

}

.project-name {
	color: #fff;
	font-size: 1rem;	
	text-shadow: 0px 2px 2px rgba( 0, 0, 0, 0.4); 
	//text-transform: uppercase;
	transition: all 1s ease-out;
}

/* INFO SECTION */
.hp-info {
	background: radial-gradient(ellipse at center, #92aab0 0%, $grayGreen2 40%);
  	background-repeat: no-repeat;
	padding: 5% 0;
	display: flex;
	flex-flow: row;
	width: 100%;
}


.hp-info__img-container {
	flex-basis: 25%;
	
}

.hp-info__text-container {
	flex-basis: 50%;
}

.hp-info__img-container--chainsaw {
	justify-content: center;
}

.hp-info__img-container--desert {
	display: block;

	}

.hp-info__img-container--desert-2 {
	display: block;

	}	

	.hp-info__image--desert {
		width: 80%;
		margin-left: auto;
	    margin-top: 0px;
		display: block;
		margin-top: 20%;
	}
	
	.hp-info__image--desert-2 {
		width: 70%;
		margin-right: auto;
		display: block;
	}

.hp-info__text {
	color: $white;
	flex-basis: 50%;
	font-weight: 600;
	font-size: 1.2rem;
	margin: 0 auto;
	text-align: center;
	text-shadow: 2px 2px 2px #020A0E;
	width: 90%;
}

.gallery-archive-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 3.5rem;
}

.gallery-archive-container > a {
	display: none;
}
 
.hp-archive-gallery {
	background-color: $white;
	//display: flex;
	//align-items: center;
	//justify-content: flex-start;
	//flex-flow: column;
	width:45%;
	padding:0%;
	position: relative;
}


.hp-archive-gallery::before{
	content: '';
  	display: block;
	padding-top: 100%;
}

.hp-archive-gallery__content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
}

.hp-archive-gallery__content p /* in case WP adds p tags */{
	margin: 0;
}

.hp-archive-gallery__icon {
	display: block;
	margin: 0 auto;
}

.hp-gallery__icon {
	width: 65%;
}

.hp-gallery__icon path {
	fill: $black;
}

.hp-archive__icon {
	position: relative;
	top: 12px;
	width: 55%;
} 

.hp-archive-gallery__title {
	color: $black;
	font-weight: 600;
	font-size: 7vw;
	font-family: 'Raleway', sans-serif;
	margin-top: auto;
	text-align: center;
} 

@media only screen and (min-width: 576px) {
	.hp-archive-gallery {
		width:40%;
	}
	.hp-archive-gallery__title {
		font-size: 5.5vw;
	}
}

@media only screen and (min-width: 768px) {
	.hp-info__text {
		font-size: 2.75rem;
		width: 70%;
	}
	.project-name {
		font-size: 1.4rem;
	}
	.hp-archive-gallery__title {
		font-size: 5.5vw;
	}
}

@media only screen and (min-width: 992px) {
	.hp-archive-gallery {
		width:30%;
	}
	.project-name {
		font-size: 2rem;
	}
	.hp-archive-gallery__title {
		font-size: 3.2rem;
	}
	.hp-gallery__icon {
		width: 75%;
	}

	.hp-archive__icon {
		width: 65%;
	}
}
