

.slick-slide > div > div > div > div:nth-of-type(1) {
	border: 2px solid $whiteTrans;
}

/*ul*/.slick-dots {
	margin-bottom: 12px;
}

.slick-dots li button::before {
	font-size: 12px;
	color: $plumDark !important;
}
